## Results Analyzing

In [1]:
# work with data
import pandas as pd

### Results Table Forming

In [2]:
submission_electricity = pd.read_csv('./submission_electricity.csv')
submission_chilledWater = pd.read_csv('./submission_chilledWater.csv')
submission_steam = pd.read_csv('./submission_steam.csv')
submission_hotWater = pd.read_csv('./submission_hotWater.csv')

In [3]:
submission = pd.concat([submission_electricity, submission_chilledWater, submission_steam, submission_hotWater])

In [4]:
submission = submission.set_index('row_id')
submission.sort_index(inplace=True)

In [5]:
def TruncFour(number):
    return int(number * 10000) / 10000.0
submission['meter_reading'] = submission['meter_reading'].apply(TruncFour)

In [6]:
submission

          meter_reading
row_id
0              155.4788
1              143.5472
2              138.1168
3              180.8588
4              331.7819
...                 ...
41697595         6.4629
41697596        41.1958
41697597        65.8274
41697598        48.3846
41697599       151.1622

[41697600 rows x 1 columns]

In [7]:
submission.to_csv('./submission.csv', sep=',', index=True)

### Comparison of models (Conclusion)